---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About">
    <article class="px-6 sm:px-16 max-w-3xl pb-8 mx-auto mt-18">
        <div>
            <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">About</h1>
            <p class="font-extralight leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="font-light leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="font-normal leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="font-medium leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="font-semibold leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="font-bold leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="font-extrabold leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="font-black leading-7 [&:not(:first-child)]:mt-6">Real and not fake</p>
            <p class="leading-7 [&:not(:first-child)]:mt-6">
                The Raffles <u>Institution</u> Infocomm Club is a place for students to discover their interests in technology. We give every member an
                opportunity to discover new skills, develop their own projects, and grow together with a community.
            </p>
            <h2 class="mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0">Activities</h2>
            <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                <li>Robotics</li>
                <li>CP·IO (Competitive Programming and Informatics Olympiad)</li>
                <li>Red (Cybersecurity)</li>
                <li>Figma</li>
                <li>Meta Digital Skills Programme: Artificial Intelligence</li>
                <li>Swift Coding Club</li>
            </ul>
            <h2 class="mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0">Competitions</h2>
            <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                <li>National Youth Tech Championship (Champions, 2024)</li>
                <li>National Olympiad in Informatics</li>
                <li>World Robot Olympiad</li>
                <li>IDE Series</li>
                <li>Sentinel Challenge</li>
                <li>Singapore VEX Tournament</li>
            </ul>
            <p class="leading-7 [&:not(:first-child)]:mt-6">Our CCA sessions are held every Friday from 1.30pm to 3.30pm.</p>
        </div>
    </article>
</Layout>
