---
import { Image } from "astro:assets";
const { name, description, image } = Astro.props;
---

<script>
    import gsap from "gsap";

    RootElement.ready(($) => {
        $("card").onmouseenter = (event) => {
            $("bg").classList.add("scale-110");
        };
        $("card").onmouseleave = (event) => {
            $("bg").classList.remove("scale-110");
        };
    });
</script>

<RootElement>
    <div data-target="card" class="shadow-md h-64 rounded-md flex flex-col justify-between relative text-white overflow-hidden">
        <div data-target="bg" class="transition duration-300 absolute -z-20 w-full h-full object-cover rounded-md">
            <Image src={image} alt={name} class="absolute -z-20 w-full h-full object-cover rounded-md" loading="lazy" />
        </div>
        <div
            data-target="blur"
            class="transition absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-emerald-900 to-transparent rounded-b-md -z-10"
        >
        </div>
        <div></div>
        <div class="p-4">
            <p class="text-lg font-semibold">{name}</p>
            <p class="text-sm font-medium">{description}</p>
        </div>
    </div>
</RootElement>
